.header  {
  font-family: monospace;
  background: papayawhip;

  display: flex;
  align-items: center;
}

.logo {
  /* border: 2px solid rgb(255, 0, 0); */
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;

  margin: 10px 0px;
}

.left-links {
  /* border: 2px solid red; */

  flex: 1;
  display: flex;
}

.right-links {
  /* border: 2px solid red; */
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

ul {
  /* this removes the dots on the list items*/
  /* border: 2px solid rgb(0, 255, 34); */
  list-style-type: none;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  gap: 15px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}