/* Add CSS Styling */

/* 
- **The first element**: a black background and white text
- **The second element**: a yellow background
- **Both elements**: a font size of 28px and a list of fonts containing 
    `Helvetica` and `Times New Roman`, with `sans-serif` as a fallback */

.button1, .button2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.button1 {
    background-color: #000000f7;
    color: #ffffffea;
}

.button2 {
    background-color: #ffff00ed;
}